cfscrape==2.1.1
configparser==5.0.2
charset-normalizer==2.0.3
docker==5.0.0
minio==7.1.0
pika==1.2.0
psycopg2==2.8.6
rsa==4.7.2
requests[socks]>=2.10.0
selenium==3.141.0
singleton_decorator==1.0.0
six==1.16.0
urllib3==1.25.11
websocket==0.2.1